/* All bundled faces: SIL Open Font License 1.1 (see OFL.txt). Latin subsets / web builds. */
@font-face { font-family: "Anton"; src: url(anton.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Mr Dafoe"; src: url(mr-dafoe.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Knewave"; src: url(knewave.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "League Gothic"; src: url(league-gothic.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Ouroboros"; src: url(ouroboros.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Le Murmure"; src: url(le-murmure.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "VG5000"; src: url(vg5000.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Le Jerk"; src: url(le-jerk.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Acidente"; src: url(acidente.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Basteleur"; src: url(basteleur-bold.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "Format 1452"; src: url(format-1452.woff2) format("woff2"); font-display: swap; }
@font-face { font-family: "BackOut"; src: url(backout.woff2) format("woff2"); font-display: swap; }
